<!-- Enrolled Patients Info -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Enrolled Patients Info</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>期間</th>
            <th>總人數</th>
            <th>總檢查數</th>
            <th>總 Spine 數</th>
            <th>總 Hip 數</th>
            <th>總 Forearm 數</th>
          </tr>
          <tr>
            <td><%= @studies.first.scan_date.to_date.to_s + " ~ " + @studies.last.scan_date.to_date.to_s %></td>
            <td><%= @studies.group("patients.identifier1").length %></td>
            <td><%= @studies.length %></td>
            <td><%= @spine_tot_count %></td>
            <td><%= @hip_count %></td>
            <td><%= @forearm_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <!-- Spine -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Spine</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>部位</th>
            <th>BMD</th>
            <th>STD</th>
            <th>總數</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>L1</th>
            <td><%= @spine_avg_l1_bmd %></td>
            <td><%= @spine_l1_std %></td>
            <td><%= @spine_l1_count %></td>
          </tr>
          <tr>
            <th>L2</th>
            <td><%= @spine_avg_l2_bmd %></td>
            <td><%= @spine_l2_std %></td>
            <td><%= @spine_l2_count %></td>
          </tr>
          <tr>
            <th>L3</th>
            <td><%= @spine_avg_l3_bmd %></td>
            <td><%= @spine_l3_std %></td>
            <td><%= @spine_l3_count %></td>
          </tr>
          <tr>
            <th>L4</th>
            <td><%= @spine_avg_l4_bmd %></td>
            <td><%= @spine_l4_std %></td>
            <td><%= @spine_l4_count %></td>
          </tr>
          <tr>
            <th>L1~L4</th>
            <td><%= @spine_avg_tot_bmd %></td>
            <td><%= @spine_tot_std %></td>
            <td><%= @spine_tot_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Hips -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hips</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>部位</th>
            <th>BMD</th>
            <th>STD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Neck</th>
            <td><%= @hip_avg_neck_bmd %></td>
            <td><%= @hip_neck_std %></td>
          </tr>
          <tr>
            <th>Troch</th>
            <td><%= @hip_avg_troch_bmd %></td>
            <td><%= @hip_troch_std %></td>
          </tr>
          <tr>
            <th>Inter</th>
            <td><%= @hip_avg_inter_bmd %></td>
            <td><%= @hip_inter_std %></td>
          </tr>
          <tr>
            <th>Total</th>
            <td><%= @hip_avg_total_bmd %></td>
            <td><%= @hip_total_std %></td>
          </tr>
          <tr>
            <th>Ward's</th>
            <td><%= @hip_avg_wards_bmd %></td>
            <td><%= @hip_wards_std %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Forearms -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Forearms</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>部位</th>
            <th>BMD</th>
            <th>STD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>RU 1/3</th>
            <td><%= @forearm_avg_ru13_bmd %></td>
            <td><%= @forearm_ru13_std %></td>
          </tr>
          <tr>
            <th>RU Mid</th>
            <td><%= @forearm_avg_rumid_bmd %></td>
            <td><%= @forearm_rumid_std %></td>
          </tr>
          <tr>
            <th>RU UD</th>
            <td><%= @forearm_avg_ruud_bmd %></td>
            <td><%= @forearm_ruud_std %></td>
          </tr>
          <tr>
            <th>Total</th>
            <td><%= @forearm_avg_rutot_bmd %></td>
            <td><%= @forearm_rutot_std %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>