<div class="row">
  <!-- Spine -->
  <% (1..4).each do |i| %>
    <% age = i * 5 %>
  <!-- Male, L<%= i %> -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Spine Male L<%= i %></h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Age</th>
              <% (4..17).each do |j| %>
              <%   age = j * 5 %>
                <th><%= "#{age}" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <!-- BMD -->
            <tr>
              <th>BMD</th>
              <% (4..17).each do |j| %>
              <%   age = j * 5 %>
                <td id="<%= "male_#{age}_avg_l#{i}_bmd" %>"></td>
              <% end %>
            </tr>

            <!-- STD -->
            <tr>
              <th>STD</th>
              <% (4..17).each do |j| %>
              <%   age = j * 5 %>
                <td id="<%= "male_#{age}_l#{j}_std" %>"></td>
              <% end %>
            </tr>

            <!-- Count -->
            <tr>
              <th>Count</th>
              <% (4..17).each do |j| %>
              <%   age = j * 5 %>
                <td id="<%= "male_#{age}_l#{j}_count" %>"></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>


<%= javascript_include_tag 'statistics_pcu_spine' %>