<!-- params for ajax -->
<input type="hidden" id="age_lists" value="<%= @age_lists %>">
<input type="hidden" id="interval" value="<%= @interval %>">
<input type="hidden" id="sex" value="<%= @sex %>">

<!-- function -->
<div class="row">
  <div class="col-md-12">
    <a href="#" id="btn_stop_ajax" class="btn btn-danger active" role="button">Stop Ajax</a>
  </div>
</div>

<div class="row">
  <!-- Spine -->
  <h3>Spine - <%= @sex.capitalize %></h3>
  <% (1..4).each do |i| %>
  <!-- L<%= i %> -->
  <div class="row">
    <div class="col-md-12">
      <table class="spine-row">
        <tr>
          <td>
            <div class="panel panel-default opacity-50" id="<%= "l#{i}_panel" %>">
              <div class="panel-heading">
                <h3 class="panel-title">L<%= i %></h3>
              </div>

              <!-- params for ajax -->
              <input type="hidden" name="level" value="<%= i %>">

              <table class="table">
                <thead>
                  <tr>
                    <th>Age</th>
                    <% @age_lists.each do |age| %>
                      <th><%= "#{age}" %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <!-- BMD -->
                  <tr>
                    <th>BMD</th>
                    <% @age_lists.each do |age| %>
                      <td id="<%= "#{@sex}_#{age}_avg_l#{i}_bmd" %>"></td>
                    <% end %>
                  </tr>

                  <!-- STD -->
                  <tr>
                    <th>STD</th>
                    <% @age_lists.each do |age| %>
                      <td id="<%= "#{@sex}_#{age}_l#{i}_std" %>"></td>
                    <% end %>
                  </tr>

                  <!-- Count -->
                  <tr>
                    <th>Count</th>
                    <% @age_lists.each do |age| %>
                      <td id="<%= "#{@sex}_#{age}_l#{i}_count" %>"></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td class="loading_icon">
            <div class="pull-right" id="<%= "l#{i}_is_loading" %>">
              <i class="fa fa-refresh fa-spin fa-2x"></i>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>


<%= javascript_include_tag 'statistics_pcu_spine' %>