<div class="row">
  <!-- Spine -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Spine Male 18-22 (20)</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>部位</th>
            <th>BMD</th>
            <th>STD</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>L1</th>
            <td><%= @male_20_avg_l1_bmd %></td>
            <td><%= @male_20_l1_std %></td>
            <td><%= @male_20_l1_count %></td>
          </tr>
          <tr>
            <th>L2</th>
            <td><%= @male_20_avg_l2_bmd %></td>
            <td><%= @male_20_l2_std %></td>
            <td><%= @male_20_l2_count %></td>
          </tr>
          <tr>
            <th>L3</th>
            <td><%= @male_20_avg_l3_bmd %></td>
            <td><%= @male_20_l3_std %></td>
            <td><%= @male_20_l3_count %></td>
          </tr>
          <tr>
            <th>L4</th>
            <td><%= @male_20_avg_l4_bmd %></td>
            <td><%= @male_20_l4_std %></td>
            <td><%= @male_20_l4_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>