<%= will_paginate @studies, renderer: BootstrapPagination::Rails %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>ID</th>
          <th>Acc NO</th>
          <th>Function</th>
        </tr>
      </thead>
      <tbody>
        <% @studies.each_with_index do |study, i| %>
          <tr>
            <td><%= study.scan_date.to_date.to_s %></td>
            <td><%= study.patient.name %></td>
            <td><%= link_to study.patient.pid, :controller => "patients", :action => "show", :pid => study.patient.pid %></td>
            <td><%= link_to study.accession_no, :controller => "studies", :action => "show", :accession_no => study.accession_no  %></td>
            <td>
              <button type="button" class="btn btn-default btn-xs bda-btn-report" data-content="" id="btn-<%= study.accession_no %>">
                <span class="glyphicon glyphicon-list-alt"></span>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <!-- for quick access of reports -->
  </div>
</div>