<div class="row">
  <div class="col-md-12">
    <ul class="pager">
      <li class="previous disabled">
        <a href="#" id="prev_link">&larr; Previous</a>
      </li>
      <li class="next disabled">
        <a href="#" id="next_link">Next &rarr;</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Patient Info -->
  <div class="col-md-3">
    <div class="panel panel-info patient-info">
      <div class="panel-heading">
        <h3 class="panel-title">Patient Info</h3>
      </div>
      <table class="table table-striped">
        <colgroup>
          <col class="col-pt-info-item">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th>Name</th>
            <td><%= @patient.name %></td>
          </tr>
          <tr>
            <th>ID</th>
            <td><%= link_to @patient.pid, patient_show_path(@patient.pid) %></td>
          </tr>
          <tr>
            <th>Acc No</th>
            <td id="acc_no"><%= @studies.first.accession_no %></td>
          </tr>
          <tr>
            <th>Sex</th>
            <td><%= @patient.sex %></td>
          </tr>
          <tr>
            <th>Birthday</th>
            <td><%= @patient.birthday.to_date %></td>
          </tr>
          <tr>
            <th>Age</th>
            <td><%= @patient.age(@studies.first.scan_date).to_i %> <small>(by scan date)</small></td>
          </tr>
          <% if @patient.is_female? %>
          <tr>
            <th>Menopause Age</th>
            <td><%= @patient.menopause_year %></td>
          </tr>
          <% end %>
          <tr>
            <th>Ethnicity</th>
            <td><%= @patient.ethnicity %></td>
          </tr>
          <tr>
            <th>Scan Date</th>
            <td><%= @studies.first.scan_date.to_date %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-9">
    <!-- Studies -->
    <div class="panel-group" id="studies-panel">
      <% @studies.each do |study| %>
        <% case study.type %>
        <% when "S", "H", "R" %>
          <%= render partial: "studies/panel_spine_hip_forearm", locals: {study: study} %>
        <% when "L" %>
          <%= render partial: "studies/panel_lateral", locals: {study: study} %>
        <% when "W" %>
          <%= render partial: "studies/panel_w_body", locals: {study: study} %>
        <% end %>
      <% end %>
    </div>

    <!-- Report -->
    <div class="panel-group" id="report-panel">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Report
          </h3>
        </div>
        <div class="panel-body">
          <% @studies.each do |study| %>
          <p><%= study.exam.report_str %></p>
          <% end %>
          <h5>Conclusion:</h5>
          <p><%= @conclusion %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'studies_pagination' %>