<h1>Studies#show <%= params[:acc] %></h1>
<% @studies.each do |study| %>
<table class="table table-striped">
  <caption><%= study.to_s %></caption>
  <thead>
    <tr>
      <th>Part</th>
      <th>Area</th>
      <th>BMC</th>
      <th>BMD</th>
      <th>T-score</th>
      <th>%</th>
      <th>Z-score</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <% study.study.levels.each do |level| %>
    <tr>
      <td><%= level[:label] %></td>
      <td><%= level[:area] %></td>
      <td><%= level[:bmc] %></td>
      <td><%= level[:bmd] %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>