<div class="row">
  <div class="col-md-12">
    <ul class="pager">
      <li class="previous <%= "disabled" if @previous.nil? %>">
        <%= link_to_unless(@previous.nil?, raw("&larr; Previous"), { :controller => "studies", :action => "show", :accession_no => (@previous.accession_no unless @previous.nil?) }) do |name| %>
          <%= link_to(name) %>
        <% end %>
      </li>
      <li class="next <%= "disabled" if @next.nil? %>">
        <%= link_to_unless(@next.nil?, raw("Next &rarr;"), { :controller => "studies", :action => "show", :accession_no => (@next.accession_no unless @next.nil?) }) do |name| %>
          <%= link_to(name) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Patient Info -->
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Patient Info</h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Name</th>
            <td><%= @patient.name %></td>
          </tr>
          <tr>
            <th>ID</th>
            <td><%= @patient.pid %></td>
          </tr>
          <tr>
            <th>Acc No</th>
            <td><%= @studies.first.accession_no %></td>
          </tr>
          <tr>
            <th>Sex</th>
            <td><%= @patient.sex %></td>
          </tr>
          <tr>
            <th>Birthday</th>
            <td><%= @patient.birthday.to_date %></td>
          </tr>
          <tr>
            <th>Age</th>
            <td><%= @patient.age(@studies.first.scan_date) %> <small>(by scan date)</small></td>
          </tr>
          <tr>
            <th>Menopause Age</th>
            <td><%= @patient.menopause_year %></td>
          </tr>
          <tr>
            <th>Ethnicity</th>
            <td><%= @patient.ethnicity %></td>
          </tr>
          <tr>
            <th>Scan Date</th>
            <td><%= @studies.first.scan_date.to_date %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-9">
    <!-- Studies -->
    <div class="panel-group" id="studies-panel">
      <% @studies.each do |study| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#studies-panel" href="#collapse-<%= study.scanid %>">
              <%= study.to_s %>
            </a>
          </h3>
        </div>
        <div id="collapse-<%= study.scanid %>" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Region</th>
                  <th>Area <small>(cm<sup>2</sup>)</small></th>
                  <th>BMC <small>(g)</small></th>
                  <th>BMD <small>(g/cm<sup>2</sup>)</small></th>
                  <th>T-score</th>
                  <th>PR <small>(%)</small></th>
                  <th>Z-score</th>
                  <th>AM <small>(%)</small></th>
                </tr>
              </thead>
              <tbody>
                <% study.exam.levels.each do |level| %>
                <tr class="<%= "active" if level[:label] == "Total" %>">
                  <td><%= level[:label] %></td>
                  <td><%= level[:area].round(2) %></td>
                  <td><%= level[:bmc].round(2) %></td>
                  <td><%= level[:bmd].round(3) %></td>
                  <td><%= level[:t_score].round(1) %></td>
                  <td><%= level[:peak_reference].round(0) %></td>
                  <td><%= level[:z_score].round(1) %></td>
                  <td><%= level[:age_matched].round(0) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Report -->
    <div class="panel-group" id="report-panel">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Report
          </h3>
        </div>
        <div class="panel-body">
          <% @studies.each do |study| %>
          <p><%= study.exam.report_str %></p>
          <% end %>
          <h5>Conclusion:</h5>
          <p><%= @conclusion %></p>
        </div>
      </div>
    </div>
  </div>
</div>
