<h1>Studies#show <%= params[:acc] %></h1>
<% @studies.each do |study| %>
<table class="table table-striped">
  <caption><%= study.to_s %></caption>
  <thead>
    <tr>
      <th>Region</th>
      <th>Area (cm<sup>2</sup>)</th>
      <th>BMC (g)</th>
      <th>BMD (g/cm<sup>2</sup>)</th>
      <th>T-score</th>
      <th>Peak Reference (%)</th>
      <th>Z-score</th>
      <th>Age Matched (%)</th>
    </tr>
  </thead>
  <tbody>
    <% study.study.levels.each do |level| %>
    <tr>
      <td><%= level[:label] %></td>
      <td><%= level[:area].round(2) %></td>
      <td><%= level[:bmc].round(2) %></td>
      <td><%= level[:bmd].round(3) %></td>
      <td><%= level[:t_score].round(3) %></td>
      <td></td>
      <td><%= level[:z_score].round(3) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>